body {
  font-size: 14px;
  padding: 20px;
}
histogram {
  float: left;
  width: 55%;
  height: 400px;
}
.settings {
  padding: 100px;
  float: right;
  width: 45%;
  position: absolute;
  right: 0px;
}
.bottom {
  clear: both;
  font-size: 0.9em;
  color: grey;
  padding: 2em 1em 0 1em;
}
input {
  width: 4em;
}
tr.selected td {
  background-color: red;
}
.left {
  float: left;
  margin-right: 4em;
}
.contact {
  width: 190px;
  height: 290px;
  margin: 10px;
  float: none;
  display: inline-block;
  white-space: nowrap;
}
.full-width {
  width: 100%;
}
.add-padding {
  padding: 30px;
}

#table th td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  table-layout: fixed;
}
#table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
#table tr:nth-child(even) {
  background-color: #ffffff;
}
#table {
  height: 100%;
  width: auto;
  overflow-y: hidden;
  overflow-x: scroll;
}
#contacts {
  height: 100%;
  width: auto;
  overflow-y: hidden;
  overflow-x: scroll;
}
#contacts table, th, td {
  border: 0px;
}
.no-border {
  border: 0px;
}
.row-header {
  font-weight: bold;
  text-align: center;
}

#settings {
  text-align: center;
  margin: auto;
}
#settings, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  table-layout: fixed;
}
#settings tr:nth-child(odd) {
  background-color: #f1f1f1;
}
#settings tr:nth-child(even) {
  background-color: #ffffff;
}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
